body {
    background-color: rgba(51, 51, 51, 0.85);
}

.guitars-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.guitar-card {
    width: calc(45vw - 10px); 
    margin: 20px 30px;
    padding: 15px;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: rgba(192, 192, 192, 0.5);
    color: black;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

    .guitar-card:hover {
        transform: scale(1.05);
    }

.homepage-section {
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .homepage-section h2 {
        margin-bottom: 15px;
    }

    .homepage-section p {
        margin-top: 20px;
    }

    /* Silver-bordered container for each benefit */
    .homepage-section .benefit-container {
        border: 1px solid silver;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 15px;
    }

/* Style for each benefit */
.benefit {
    margin-bottom: 10px;
}