.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.LoginHeader {
    margin-bottom: 20px;
    font-size: 24px;
}
.LoginFormContainer {
    background-color: green;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
}

.MiddleSection {
    background-color: black;
    color: #fff;
    padding: 40px;
    text-align: center;
}

.LoginForm {
    display: flex;
    flex-direction: column;
}

    .LoginForm input {
        margin-bottom: 20px;
        padding: 10px;
        font-size: 18px;
    }

    .LoginForm button {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 18px;
    }
