.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.LoginHeader {
    margin-bottom: 20px;
    font-size: 24px;
}

.LoginFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MiddleSection {
    width: 300px;
}

.LoginForm {
    display: flex;
    flex-direction: column;
}

    .LoginForm input {
        margin-bottom: 10px;
        padding: 10px;
        font-size: 16px;
    }

    .LoginForm button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #4285f4;
        color: #fff;
        border: none;
        cursor: pointer;
    }

        .LoginForm button:hover {
            background-color: #3367d6;
        }
